@mixin broadSite($mWidth, $mHeight, $mBackgroundPicture) {
    width: $mWidth;
    min-height: $mHeight;
    background-image: url($mBackgroundPicture);
    // background-size: cover;
    // background-position: bottom;
}