$siteWidth: 1140px;
$maxWidth: 1600px;
$additionalVerge: calc(($maxWidth - $siteWidth)/2);
$textColorMain: #222222;
$textColorAlternative: #f16d7f;
$textColorReserve: #ffffff;
$textColorReserve2: #fbfbfb;
$gaps: 20px;