@import 'vars';
@import 'extends';
@import 'mixins';

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: $textColorMain;
}

a {
    text-decoration: none;
    &:hover {
        color: $textColorAlternative;
    }
}
body {
    @extend %center;
    @extend %flex-column-center;
    // overflow-x: hidden;
}

.header {
    @extend %flex-column-center;
    padding: 25px 0;
    gap: $gaps;

    &__top {
        @extend %flex-row-center;
        justify-content: space-between;
        width: $siteWidth;

        &__right_block,
        &__left_block {
            @extend %flex-row-center;
            gap: $gaps;
            position:relative;
        }
    }

    &__slogan {
        font-size: 27px;
        font-weight: 300;
    }

    &__slogan span {
        color: $textColorAlternative;
        font-weight: 900;
    }

    &__search {
        @extend %flex-row-center;
        position: relative;

        &__container {
            @extend %flex-row-center;
            position: absolute;
            left: 89px;
        }

        &__box {
            width: 317px;
            height: 38px;
            background-color: #ffffff;
            border: 1px solid #e6e6e6;
            padding-left: 16px;
        }

        &__box:focus {
            outline: none;
        }

        &__button {
            width: 40px;
            height: 40px;
            border: 1px solid #e6e6e6;
            border-radius: 0px 3px 3px 0px;
            background-color: #e6e6e6
        }

        &__button:hover {
            background-color: $textColorAlternative;
            border: $textColorAlternative;
        }
    }

    &__drop_menu {
        @extend %flex-column-center;
        gap: $gaps;
        position: absolute;
        align-self: start;
        z-index: 1;
        top: -20px;
        background-color: #ffffff;
        border: 1px solid #e6e6e6;
        border-radius: 3px 0px 0px 3px;

        &__summary {
            width: 87px;
            height: 38px;
            font-size: 14px;
            font-weight: 400;
            background-color: #cdcdcc;
            background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
            cursor: pointer;
            list-style: none;
            @extend %flex-row-center;
            justify-content: center;
        }

        &__group {
            margin: calc($gaps / 2);
            border-bottom: 2px solid #cdcdcc;
        }

        &__link {
            display: block;
            padding: calc($gaps / 4 + 4px);
        }
    }

    &__main_menu {
        @extend %flex-row-center;
        gap: calc($gaps * 2);
        font-size: 14px;
        font-weight: 700;
    }

    &__account-button {
        background-color: $textColorAlternative;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 10px 10px 20px;
        color: $textColorReserve;
        border: 0;
        @extend %flex-row-center;
        gap: calc($gaps / 2);
    }

    &__top__right_block:hover &__chart-content{
        display: flex;
    }

    &__chart-content{
        position:absolute;
        display: none;
        top: 40px;
        left: -20px;
        @extend %flex-column-center;
        justify-content: space-between;
        padding: $gaps;
        min-width: 262px;
        min-height: 440px;
        background-color: #ffffff;
        border-radius: 5px;

        &__product{
            @extend %flex-row-center;
            width: 100%;
            justify-content: space-between;
            padding-bottom: 16px;
            border-bottom: 1px solid rgba(237,237,237,0.74);
            
            &-photo:hover{
                filter: brightness(70%);
            }

            &-total{
                width: 100%;
                @extend %flex-row-center;               @extend %flex-row-center;
                justify-content: space-between;
            }

            &-sum{
                font-size: 12px;
                line-height: 1.2;
                font-weight: 400;
                text-transform: uppercase;
                color: #f16d7f;
            }

            &-totals{
                font-size: 16px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
                color: #222222;
            }

            &-button{
                width: 262px;
                height: 50px;
                background-color: #ffffff;
                border: 1px solid #eaeaea;
                font-size: 14px;
                font-weight: 700;
                @extend %flex-row-center;
                justify-content: center;
            }
        
        }

    }

}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;

    &-list {
        position: relative;
        &:hover .mega-box {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 310px;
            width: 846px;
        }
    }
    &-link {
        display: block;
        padding: 20px 25px;
        color: #222222;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &-headding {
        font-size: 14px;
        line-height: 32px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.025em;
        color: #232323;
        width: 235px;
        border-bottom: 1px solid #e8e8e8;
    }
    &-item {
        margin-right: 46px;
    }
    &-item:last-of-type {
        margin-right: 0;
    }
    &-baner {
        width: 255px;
        height: 118px;
        background-color: #efefef;
        margin: auto;
    }
}

.mega{
    &-box {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    display: none;
    position: absolute;
    z-index: 1000;
    top: 50px;
    left: 0;
    right: auto;

    &::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background-color: #ffffff;
        position: absolute;
        top: -6px;
        left: 33px;
        transform: rotate(45deg);
        border-top: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;
    }
    }

    &-link {
    display: block;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #646464;
    }
}
.last:hover .mega-box {
    right: 0;
    left: auto;
}

.last:hover .mega-box::before {
    right: 50px;
    left: auto;
}

.slider {
    @include broadSite($maxWidth, 665px, '../img/slider_background.png');
    margin-bottom: $gaps*3;

    &__title {
        display: grid;
        grid-template-columns: 20px auto;
        grid-template-rows: 60px 40px;
        padding-top: 250px;
        padding-left: $additionalVerge;
        vertical-align: top;
    }

    &__logo {
        grid-row-start: 1;
        grid-row-end: 3;
        min-height: 100px;
    }

    &__slogan {
        font-size: 60px;
        font-weight: 900;
        line-height: 0.7;
    }

    &__subslogan {
        font-size: 40px;
        font-weight: 900;
        line-height: 1.2;

    }

    &__subslogan span {
        color: $textColorAlternative;

    }
}

.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: $gaps;
    margin-bottom: $gaps*3;

    &__banner {
        &:hover{
            filter: brightness(70%);
        }

        &__1 {
            grid-row-start: 1;
            grid-row-end: 3;
        }

        &__2 {
            grid-row-start: 3;
        }

        &__3 {
            grid-row-start: 1;
            grid-column-start: 2;
        }

        &__4 {
            grid-row-start: 2;
            grid-row-end: 4;
        }

        &__1,
        &__2,
        &__3,
        &__4 {
            position: relative;
        }

        &__description {
            position: absolute;
            top: 32px;
            background-color: $textColorReserve;
            padding: 16px;
        }

        &__title {
            font-size: 18px;
            font-weight: 900;
        }

        &__category {
            font-size: 30px;
            font-weight: 900;
            color: $textColorAlternative;
        }
    }
}

.products {
    @extend %flex-column-center;
    width: 100%;

    &__title {
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 10px;
    }

    &__slogan {
        font-size: 14px;
        font-weight: 400;
        color: #9f9f9f;
        padding-bottom: 40px;
    }

    &__container {
        width: 100%;
        display: grid;
        gap: $gaps;
        grid-template-columns: repeat(4, 1fr);
        padding-bottom: 40px;
    }

    &__product {
        @extend %flex-column-center;
        align-items: start;
        width: 100%;
        position: relative;

        &:hover{
            box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);  
        }
        &:hover &__photo{
            filter: brightness(30%);
        }
        &:hover .add-box {
            display: flex;
            z-index: 100;
        }

        &-link{
            display: block;
        }

        &__photo {
            width: calc(($siteWidth - $gaps * 3) / 4);
            height: 280px;
        }

        &__title {
            display: block;
            font-size: 13px;
            font-weight: 400;
            padding: calc($gaps / 2);
        }

        &__price {
            display: block;
            font-size: 16px;
            font-weight: 700;
            color: $textColorAlternative;
            padding: calc($gaps / 2);
        }

    }

    &__catalogue {
        background-color: $textColorAlternative;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 10px 10px 20px;
        color: $textColorReserve;
        border: 0;
        @extend %flex-row-center;
        gap: calc($gaps / 2);
        margin-bottom: calc($gaps * 3);
    }
}

.add {
    display: flex;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px;
    align-items: center;
    pointer-events: all;
    
    &-txt {
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    }
    
    &-box {
        position: absolute;
        top: 98px;
        display: none;
        justify-content: center;
        width: 100%;
        pointer-events: none;
        z-index: 1000000;
    }
    
    &:hover {
        box-shadow: 0 0 10px 0 #fff;
    } 
}
  
.cart {
    margin-right: 10px;
}

.feature {
    width: $siteWidth;
    @extend %flex-row-center;
    margin-bottom: $gaps*3;
    &__banner {
        height: 530px;
        width: 767px;
        background-image: url(../img/features_background.png);
        position: relative;

        &__slogan {
            position: absolute;
            z-index: 1;
            top: 15%;
            left: 5%;
        }

        &__shadow {
            opacity: 0.5;
            position: absolute;
        }

        &__title,
        &__description {
            font-size: 54px;
            font-weight: 700;
            color: $textColorReserve;
        }

        &__title span {
            color: $textColorAlternative;
        }

        &__description {
            font-size: 32px;
        }
    }

    &__boxes {
        height: 530px;
        width: calc($siteWidth - 767px);
        background-image: url(../img/features_box_background.png);
        &_cat {
            @extend %flex-row-center;
            width: $maxWidth;
            height: 340px;
            padding: 0 $additionalVerge;
            box-sizing: border-box;
        }

    }

    &__box {
        max-height: calc((530px - $gaps*2*3)/3);
        padding: calc($gaps * 2);
        display: grid;
        grid-template-rows: 25% 75%;
        grid-template-columns: 25% 75%;
        gap: $gaps;
        
        &_cat{
            @extend %flex-column-center;
            gap: $gaps;
            // padding: calc($gaps * 2);
            align-items: center;
        }

        &__logo {
            grid-row-start: 1;
            grid-row-end: 3;
        }

        &__title,
        &__description {
            color: $textColorReserve2;
            grid-column-start: 2;
            font-size: 20px;
            font-weight: 700;
        }

        &__description {
            font-size: 14px;
            font-weight: 300;
            &_cat{
                text-align: center;
            }
        }
    }
}

.breadcrumbs {
    @extend %flex-row-center;
    width: $maxWidth;
    padding: $gaps $additionalVerge;
    justify-content: space-between;
    box-sizing: border-box;
    height: 148px;
    background-color: #f8f3f4;

    &-location{
        color: $textColorAlternative;
        font-size: 24px;
        font-weight: 900;
    }
    &-path {
        @extend %flex-row-center;
        gap: calc($gaps / 2);
        list-style: none;
        font-size: 14px;
        font-weight: 300px;
    }

    &__item:not(:last-of-type)::after{
        content: '/';
        padding-left: calc($gaps / 2);
    }

    &__item:last-child &__link{
        color: $textColorAlternative;
    }
}


.product{
    position: relative;
    min-height: 1500px;
    &-slide {
        @extend %flex-row-center;
        width: $maxWidth;
        justify-content: space-between;
        height: 777px;
        background-color: #f7f7f7;  
        &__slider {
            width: 47px;
            height: 47px;
            line-height: 47px;
            text-align: center;
            color: $textColorReserve;
            background-color: rgba(42, 42, 42, 0.14);
        }
    }
    &-card{
        position: absolute;
        top: 700px;
        left: $additionalVerge;
        width: $siteWidth;
        min-height: 730px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        box-sizing: border-box;
        @extend %flex-column-center;
        gap: $gaps;
        padding: 72px $additionalVerge 122px;        
    }
    &-group{
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: $textColorAlternative;
        padding-bottom: calc($gaps/2);
        border-bottom: 1px solid #eaeaea;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            bottom: -2px;
            width: 64px;
            height: 3px;
            background-color: #ef5b70;
            left: calc(50% - 32px);
        }
    }
    &-title{
        font-size: 18px;
        line-height: 24px;
        font-weight: 900;
        text-transform: uppercase;
        color: #4d4d4d;
        padding-bottom: $gaps;
        
    }
    &-description{
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #5e5e5e;
    }
    &-features{
        @extend %flex-row-center;
        gap: calc($gaps * 2);

    }
    &-material, &-designer{
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #b9b9b9;
        padding-bottom: $gaps;
        &span{
            font-size: 14px;
            line-height: 24px;
            font-weight: 700;
            color: #2f2f2f;
        }
    }
    &-price{
        display: block;
        text-align: center;
        width: calc($siteWidth - $additionalVerge * 2);
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        color: #ef5b70;
        
        padding-bottom: calc($gaps * 2);
        border-bottom: 1px solid #eaeaea;
    }
    &-metrics{
        @extend %flex-column-center;
        width: 537px;
        gap: calc($gaps * 2);

        &__box{
            width: 537px;
            @extend %flex-row-center;
            gap: 0 auto;
            justify-content: space-between;
        }

        &__block{
            width: 144px;
            display: flex;
            @extend %flex-column-center;
            align-items: start;
        }

        &__title{
            display: block;
            width: 144px;
            font-size: 14px;
            line-height: 24px;
            font-weight: 700;
            color: #2f2f2f;
            padding-bottom: calc($gaps / 2);
        }
        &__select{
            width: 100%;
            height: 35px;
            background-color: #ffffff;
            border: 1px solid #eaeaea;
            &:focus{
                outline: none;
            }
        }

        &__button{
            @extend %flex-row-center;
            justify-content: center;
            gap: calc($gaps / 2);
            width: 537px;
            height: 55px;
            background-color: #ffffff;
            border: 1px solid #ef5b70;
            &-text{
                font-size: 16px;
                line-height: 1.2;
                font-weight: 700;
                color: #ef5b70;
            }
            &:hover{
                background-color: $textColorAlternative;
            }
            &:hover &-text{
                color: $textColorReserve;
            }
        }

    }
}

.promo {
    @extend %flex-column-center;
    gap: calc($gaps * 3.5);
    padding: calc($gaps * 3.5) 0;

    &__title{
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: #4d4d4d;
    }
    &__products-box {
        width: $siteWidth;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: $gaps;
    }

    &__photo-box {
        @extend %flex-column-center;
        width: 100%;
        height: 280px;
        background-color: #e9e9e9;
        justify-content: center;
    }

    &__product{
        &-photo {
        max-height: 280px;
        }
        &-name{
            font-size: 14px;
            line-height: 1.2;
            font-weight: 400;
            text-transform: uppercase;
            color: #6f6e6e;
            padding: calc($gaps / 2);
        }
        &-price{
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: $textColorAlternative;
            padding: 0 calc($gaps / 2);
        }
    }
    

}

.subscriber {
    @include broadSite($maxWidth, 438px, '../img/photo_subscribe.jpg');
    margin-bottom: calc($gaps * 3);
    @extend %flex-row-center;


    &__teaser {
        @extend %flex-row-center;
        padding-left: $additionalVerge;
        gap: $gaps;
        width: calc($siteWidth / 2);

        &__text {
            @extend %flex-column-center;
            align-items: start;
            gap: $gaps;
        }

        &__slogan {
            font-size: 16px;
            font-weight: 400;
            font-style: italic;
        }

        &__signature {
            font-size: 16px;
            font-weight: 700;
            color: $textColorAlternative;
        }

        &__signature span {
            font-size: 12px;
            font-weight: 300;
        }
    }

    &__form {
        @extend %flex-column-center;
        gap: $gaps;
        width: calc($siteWidth / 2);

        &__title {
            text-align: center;
            font-size: 24px;
            font-weight: 400;
        }

        &__title span {
            font-size: 14px;
        }

        &__email_fields {
            @extend %flex-row-center;

        }

        &__email_field {
            width: 334px;
            height: 46px;
            background-color: #e1e1e1;
            border-radius: 23px 0 0 23px;
            border: 0;
            padding-left: 24px;
        }

        &__email_field:focus {
            outline-style: none;
        }

        &__email_button {
            width: 104px;
            height: 46px;
            background-color: $textColorAlternative;
            border-radius: 0px 23px 23px 0px;
            border: none;
            color: $textColorReserve;
            font-size: 14px;
            font-weight: 400;
        }
    }
}

.footer {
    @extend %flex-column-center;
    gap: calc($gaps * 3);

    &__menu {
        width: $siteWidth;
        min-height: 200px;
        display: grid;
        grid-template-columns: 45% repeat(3, 1fr);
        grid-template-rows: 40px 200px;
        gap: calc($gaps * 2);

        &__logo_container {
            @extend %flex-row-center;
            gap: $gaps;
        }

        &__description {
            overflow-y: scroll;
            font-size: 14px;
            font-weight: 300;
        }

        &__sections {
            @extend %flex-row-center;
            font-size: 18px;
            font-weight: 700;
            color: $textColorAlternative;
        }

        &__links {
            @extend %flex-column-center;
            align-items: start;
            justify-content: space-between;
        }

        &__link {
            font-size: 16px;
            font-weight: 400;
        }

        &__grid_element_2 {
            order: 4;
        }

        &__grid_element_4 {
            order: 5;
        }

        &__grid_element_6 {
            order: 7;
        }

        &__grid_element_8 {
            order: 8;
        }
    }

    &__bottom {
        width: $maxWidth;
        @extend %flex-row-center;
        justify-content: space-between;
        padding: $gaps 0;
        background-color: #e6e6e6;

        &__copyright,
        &__socials {
            font-size: 16px;
            font-weight: 400;
            padding: 0 $additionalVerge;
        }

        &__socials {
            @extend %flex-row-center;
            gap: calc($gaps / 2);

            &__link {
                @extend %flex-row-center;
                justify-content: center;
                width: 32px;
                height: 32px;
                background-color: $textColorReserve;
            }

            &__link:hover {
                background-color: $textColorAlternative;
            }
        }
    }
}

.checkout{
    width: 100%;
    padding: $gaps 0;

    &__option{
        border-bottom: 1px solid #e8e8e8;;


        &[open] &-name{
            color: $textColorAlternative
        }

        &-name{
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #222222;
            list-style: none;
            padding: $gaps 0;
            cursor: pointer;
        }
        &-description{
            padding-bottom: $gaps;
        }
    }
    &__forms-box{
        @extend %flex-row-center;
        justify-content: space-between;
        padding-left: $gaps*2;
    }
    &__registration, &__login{
        width: 48%;
        min-height: 290px;
        padding: $gaps 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__form{

        &-title{
            font-size: 13px;
            line-height: 1.2;
            font-weight: 400;
            text-transform: uppercase;
            color: #222222;

            &-required::after{
                content: '*';
                font-size: 17px;
                line-height: 20px;
                font-weight: 400;
                color: #ff0d0d;
            }

            &_red{
                font-size: 13px;
                line-height: 20px;
                font-weight: 400;
                color: #ff0d0d;
            }
        }

        &-description{
            font-size: 13px;
            line-height: 20px;
            font-weight: 400;
            color: #b3b2b2;
            &-features::before{
                content: '>>';
                padding-right: 8px;
            }
        }

        &-radio-label{
            margin-left: 2%;
            font-size: 12px;
            line-height: 1.2;
            font-weight: 400;
            text-transform: uppercase;
            color: #222222;
        }

        &-input{
            width: 390px;
            height: 45px;
            background-color: #ffffff;
            border: 1px solid #eaeaea;
            padding: 0 3%;
            &:focus{
                outline-style: none;
            }
        }
    }
    &__button{
        width: 180px;
        height: 50px;
        background-color: $textColorAlternative;
        color: $textColorReserve;

        border: 1px solid #eaeaea;
        cursor: pointer;
        margin-right: $gaps;

        &:hover{
            background-color: #ffffff;
            color: $textColorAlternative;
        }
    }

}

.cart{
    display: grid;
    width: 100%;
    margin-bottom: $gaps*2;
    &__products{
        grid-column: span 3;
        min-height: 400px;        
    }
    &__shipping, &__discount, &__checkout{
        grid-column: span 1;
        width: 100%;
        min-height: 250px;
        box-sizing: border-box;
    }
    &__headers, &__product{
        display: grid;
        width: 100%;
        grid-template-columns: 8fr 16fr repeat(4, 8fr) 4fr;
        border-bottom: 1px solid #eaeaea;
        padding: $gaps 0;
        align-items: center;
    }

    &__header{
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.015em;
        color: #222222;
        &_central{
            text-align: center;
        }
    }
    &__product{
        &-description{
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-around;
        }
        &-name{
            font-size: 13px;
            line-height: 1.2;
            font-weight: 400;
            text-transform: uppercase;
            color: #222222;
        }
        &-parametr{
            margin: 0 auto;
            &_input{
                width: 54px;
                height: 30px;
                background-color: #ffffff;
                border: 1px solid #eaeaea;
                text-align: center;
                &:focus{
                    outline-style: none;
                }
            }
        }
        &-buttons{
            @extend %flex-row-center;
            justify-content: space-between;
            padding: calc($gaps*2) 0;
        }
        &-button{
            width: 235px;
            height: 50px;
            background-color: $textColorAlternative;
            color: $textColorReserve;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            border: 1px solid #eaeaea;
            &:hover{
                background-color: $textColorReserve;
                color: $textColorAlternative;   
            }
        }
    }
    &__shipping{
        @extend %flex-column-center;
        align-items: start;
        justify-content: space-between;
        &-country{
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #222222;
        }
        &-input{
            width: 355px;
            height: 45px;
            background-color: #ffffff;
            border: 1px solid #eaeaea;
            padding:$gaps/2;
            box-sizing: border-box;
            &:focus{
                outline-style: none;
            }
        }
        
        &-button{
            width: 100px;
            height: 35px;
            background-color: $textColorAlternative;
            border: 1px solid #e2e2e2;
            font-size: 11px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: $textColorReserve;
            &:hover{
                background-color: $textColorReserve;
                color: $textColorAlternative;
            }
        }
    }
    &__discount{
        padding-bottom: 30%;
        &-description{
            font-size: 14px;
            line-height: 1.2;
            font-weight: 300;
            color: #000000;
        }
    }
    &__checkout{
        @extend %flex-column-center;
        align-items: end;
        justify-content: space-between;
        height: 50%;
        background-color: #f5f3f3;
        padding: $gaps*2;


        &-total{
            display: block;
            width: 100%;
            text-align: right;
            border-bottom: 1px solid #e2e2e2;
            padding-bottom: $gaps;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #222222;
            &-span{
                font-size: 16px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
                color: #f16d7f;
            }
        }
        &-link-box{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 273px;
            height: 50px;
            background-color: #f16d7f;
            &:hover{
                background-color: $textColorReserve;
                border: 1px solid #eaeaea;
            }
            &:hover .cart__checkout-link{
                color: $textColorAlternative;
            }
        }

        &-link{           
            display: block;
            width: 100%;
            // height: 100%;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
            text-align: center;
            &:hover{
                background-color: $textColorReserve;
            }

        }
    }

}