@import 'vars';
@import 'extends';
@import 'mixins';

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: $textColorMain;
}

a {
    text-decoration: none;
}

a:hover {
    color: $textColorAlternative;
}

body {
    @extend %center;
    @extend %flex-column-center;
    overflow-x: hidden;
}

.header {
    @extend %flex-column-center;
    padding: 25px 0;
    gap: $gaps;

    &__top {
        @extend %flex-row-center;
        justify-content: space-between;
        width: $siteWidth;

        &__right_block,
        &__left_block {
            @extend %flex-row-center;
            gap: $gaps;
        }
    }

    &__slogan {
        font-size: 27px;
        font-weight: 300;
    }

    &__slogan span {
        color: $textColorAlternative;
        font-weight: 900;
    }

    &__search {
        @extend %flex-row-center;
        position: relative;

        &__container {
            @extend %flex-row-center;
            position: absolute;
            left: 89px;
        }

        &__box {
            width: 317px;
            height: 38px;
            background-color: #ffffff;
            border: 1px solid #e6e6e6;
            padding-left: 16px;
        }

        &__box:focus {
            outline: none;
        }

        &__button {
            width: 40px;
            height: 40px;
            border: 1px solid #e6e6e6;
            border-radius: 0px 3px 3px 0px;
            background-color: #e6e6e6
        }

        &__button:hover {
            background-color: $textColorAlternative;
            border: $textColorAlternative;
        }
    }

    &__drop_menu {
        @extend %flex-column-center;
        gap: $gaps;
        position: absolute;
        align-self: start;
        z-index: 1;
        top: -20px;
        background-color: #ffffff;
        border: 1px solid #e6e6e6;
        border-radius: 3px 0px 0px 3px;

        &__summary {
            width: 87px;
            height: 38px;
            font-size: 14px;
            font-weight: 400;
            background-color: #cdcdcc;
            background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
            // border: 1px solid #e6e6e6;
            // border-radius: 3px 0px 0px 3px;
            cursor: pointer;
            list-style: none;
            @extend %flex-row-center;
            justify-content: center;
        }

        &__group {
            margin: calc($gaps / 2);
            border-bottom: 2px solid #cdcdcc;
        }

        &__link {
            display: block;
            padding: calc($gaps / 4 + 4px);
        }
    }

    &__main_menu {
        @extend %flex-row-center;
        gap: calc($gaps * 2);
        font-size: 14px;
        font-weight: 700;
    }

    &__account-button {
        background-color: $textColorAlternative;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 10px 10px 20px;
        color: $textColorReserve;
        border: 0;
        @extend %flex-row-center;
        gap: calc($gaps / 2);
    }
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.menu-link {
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
}

.mega-box {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    right: auto;
}

.menu-headding {
    font-family: Lato;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #232323;
    width: 235px;
    border-bottom: 1px solid #e8e8e8;
}

.mega-link {
    display: block;
    font-family: Lato;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #646464;
    text-decoration: none;
}

.mega-link:hover {
    color: #f16d7f;
}

.menu-item {
    margin-right: 46px;
}

.menu-item:last-of-type {
    margin-right: 0;
}

.menu-list {
    position: relative;
}

.mega-box::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    position: absolute;
    top: -6px;
    left: 33px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.menu-list:hover .mega-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 310px;
    width: 846px;
}

.menu-baner {
    width: 255px;
    height: 118px;
    background-color: #efefef;
    margin: auto;
}

.last:hover .mega-box {
    right: 0;
    left: auto;
}

.last:hover .mega-box::before {
    right: 50px;
    left: auto;
}

.slider {
    @include broadSite($maxWidth, 665px, '../img/slider_background.png');
    margin-bottom: $gaps*3;

    &__title {
        display: grid;
        grid-template-columns: 20px auto;
        grid-template-rows: 60px 40px;
        padding-top: 250px;
        padding-left: $additionalVerge;
        vertical-align: top;
    }

    &__logo {
        grid-row-start: 1;
        grid-row-end: 3;
        min-height: 100px;
    }

    &__slogan {
        font-size: 60px;
        font-weight: 900;
        line-height: calc(1/1.3);
    }

    &__subslogan {
        font-size: 40px;
        font-weight: 900;
        line-height: 1.3;

    }

    &__subslogan span {
        color: $textColorAlternative;

    }
}

.categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: $gaps;
    margin-bottom: $gaps*3;

    &__banner {

        &__1 {
            grid-row-start: 1;
            grid-row-end: 3;
        }

        &__2 {
            grid-row-start: 3;
        }

        &__3 {
            grid-row-start: 1;
            grid-column-start: 2;
        }

        &__4 {
            grid-row-start: 2;
            grid-row-end: 4;
        }

        &__1,
        &__2,
        &__3,
        &__4 {
            position: relative;
        }

        &__description {
            position: absolute;
            top: 32px;
            background-color: $textColorReserve;
            padding: 16px;
        }

        &__title {
            font-size: 18px;
            font-weight: 900;
        }

        &__category {
            font-size: 30px;
            font-weight: 900;
            color: $textColorAlternative;
        }
    }
}

.products {
    @extend %flex-column-center;
    width: 100%;

    &__title {
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 10px;
    }

    &__slogan {
        font-size: 14px;
        font-weight: 400;
        color: #9f9f9f;
        padding-bottom: 40px;
    }

    &__container {
        width: 100%;
        display: grid;
        gap: $gaps;
        grid-template-columns: repeat(4, 1fr);
        padding-bottom: 40px;
    }

    &__product {
        @extend %flex-column-center;
        align-items: start;
        width: 100%;

        &__photo {
            width: calc(($siteWidth - $gaps * 3) / 4);
            height: 280px;
        }

        &__title {
            font-size: 13px;
            font-weight: 400;
            padding: calc($gaps / 2);
        }

        &__price {
            font-size: 16px;
            font-weight: 700;
            color: $textColorAlternative;
            padding: calc($gaps / 2);
        }

    }

    &__catalogue {
        background-color: $textColorAlternative;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 10px 10px 20px;
        color: $textColorReserve;
        border: 0;
        @extend %flex-row-center;
        gap: calc($gaps / 2);
        margin-bottom: calc($gaps * 3);
    }
}

.feature {
    width: $siteWidth;
    @extend %flex-row-center;
    margin-bottom: $gaps*3;

    &__banner {
        height: 530px;
        width: 767px;
        background-image: url(../img/features_background.png);
        position: relative;

        &__slogan {
            position: absolute;
            z-index: 1;
            top: 15%;
            left: 5%;
        }

        &__shadow {
            opacity: 0.5;
            position: absolute;
        }

        &__title,
        &__description {
            font-size: 54px;
            font-weight: 700;
            color: $textColorReserve;
        }

        &__title span {
            color: $textColorAlternative;
        }

        &__description {
            font-size: 32px;
        }
    }

    &__boxes {
        height: 530px;
        width: calc($siteWidth - 767px);
        background-image: url(../img/features_box_background.png);
    }

    &__box {
        max-height: calc((530px - $gaps*2*3)/3);
        padding: calc($gaps * 2);
        display: grid;
        grid-template-rows: 25% 75%;
        grid-template-columns: 25% 75%;
        gap: $gaps;

        &__logo {
            grid-row-start: 1;
            grid-row-end: 3;
        }

        &__title,
        &__description {
            color: $textColorReserve2;
            grid-column-start: 2;
            font-size: 20px;
            font-weight: 700;
        }

        &__description {
            font-size: 14px;
            font-weight: 300;
        }
    }
}

.subscriber {
    @include broadSite($maxWidth, 438px, '../img/photo_subscribe.jpg');
    margin-bottom: calc($gaps * 3);
    @extend %flex-row-center;


    &__teaser {
        @extend %flex-row-center;
        padding-left: $additionalVerge;
        gap: $gaps;
        width: calc($siteWidth / 2);

        &__text {
            @extend %flex-column-center;
            align-items: start;
            gap: $gaps;
        }

        &__slogan {
            font-size: 16px;
            font-weight: 400;
            font-style: italic;
        }

        &__signature {
            font-size: 16px;
            font-weight: 700;
            color: $textColorAlternative;
        }

        &__signature span {
            font-size: 12px;
            font-weight: 300;
        }
    }

    &__form {
        @extend %flex-column-center;
        gap: $gaps;
        width: calc($siteWidth / 2);

        &__title {
            text-align: center;
            font-size: 24px;
            font-weight: 400;
        }

        &__title span {
            font-size: 14px;
        }

        &__email_fields {
            @extend %flex-row-center;

        }

        &__email_field {
            width: 334px;
            height: 46px;
            background-color: #e1e1e1;
            border-radius: 23px 0 0 23px;
            border: 0;
            padding-left: 24px;
        }

        &__email_field:focus {
            outline-style: none;
        }

        &__email_button {
            width: 104px;
            height: 46px;
            background-color: $textColorAlternative;
            border-radius: 0px 23px 23px 0px;
            border: none;
            color: $textColorReserve;
            font-size: 14px;
            font-weight: 400;
        }
    }
}

.footer {
    @extend %flex-column-center;
    gap: calc($gaps * 3);

    &__menu {
        width: $siteWidth;
        min-height: 200px;
        display: grid;
        grid-template-columns: 45% repeat(3, 1fr);
        grid-template-rows: 40px 200px;
        gap: calc($gaps * 2);

        &__logo_container {
            @extend %flex-row-center;
            gap: $gaps;
        }

        &__description {
            overflow-y: scroll;
            font-size: 14px;
            font-weight: 300;
        }

        &__sections {
            @extend %flex-row-center;
            font-size: 18px;
            font-weight: 700;
            color: $textColorAlternative;
        }

        &__links {
            @extend %flex-column-center;
            align-items: start;
            justify-content: space-between;
        }

        &__link {
            font-size: 16px;
            font-weight: 400;
        }

        &__grid_element_2 {
            order: 4;
        }

        &__grid_element_4 {
            order: 5;
        }

        &__grid_element_6 {
            order: 7;
        }

        &__grid_element_8 {
            order: 8;
        }
    }

    &__bottom {
        width: $maxWidth;
        @extend %flex-row-center;
        justify-content: space-between;
        padding: $gaps 0;
        background-color: #e6e6e6;

        &__copyright,
        &__socials {
            font-size: 16px;
            font-weight: 400;
            padding: 0 $additionalVerge;
        }

        &__socials {
            @extend %flex-row-center;
            gap: calc($gaps / 2);

            &__link {
                @extend %flex-row-center;
                justify-content: center;
                width: 32px;
                height: 32px;
                background-color: $textColorReserve;
            }

            &__link:hover {
                background-color: $textColorAlternative;
            }
        }
    }
}